<app-navbar></app-navbar>

<div class="contenedor">

    <div class="card bg-dark text-white" style="width: 40%; height: 400px;">
      <img class="card-img" style="height: 400px;" src="\assets\images\login.jpg" alt="Card image">
    </div>
      
    <form class="text-center border border-light p-5" style="margin:auto">

        <p class="h4 mb-4">Registrarse</p>
    
        <p>Genera ganancias haciendo tareas simples.</p>
    
        <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Correo...">
    
        <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="Contraseña...">

        <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="repetir Contraseña...">
    
        <button class="btn btn-primary" block="true" type="submit">Registrar</button>
  
    </form>

</div>

<app-footer></app-footer>
